body
  background-image: url("../images/backgrounds/cartographer.png")
  color: #eee
  overflow: hidden
canvas
  background-color: rgba(0, 0, 0, 0.2)
section
  padding-bottom: 1em
  margin-left: auto
  margin-right: auto
button
  margin-left: 0.5em
  margin-right: 0.5em
  padding: 0.3em 1em
  border-radius: 4px
p
  margin: 0 1em

@import "compass/css3/font-face"

+font-face("Upheaval", font-files("upheaval.otf", opentype))
